* {
  margin: 0
}

.main_task {
  display: flex;
  align-items: center;
  background-color: #6dd5d0;
  height: fit-content;
  font-family: sans-serif;
  flex-direction: row;
}

.subtasks {
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: fit-content;
  font-family: sans-serif;
}

select{
  background-color: #6dd5d0;
  color: #262626;
  font-size: 16px;
}

.app {
  margin-top: 50px;
  width: 90%;
}

@media (max-width:768px) {
  .app {
    width: 90%;
  }
}

.app h1 {
  color: #DFD8CA;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: .5rem .5rem 0 0;
  background-color: rgb(185, 22, 70);
  font-family: "Rajdhani", sans-serif;
}

.app form {
  display: flex;
  justify-content: space-between;
  background-color: #105652;
}

.app form input {
  border: none;
  background-color: #b4b7b6;
  font-size: 18px;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 1px;
  
  
}

.task_desc{
  width: 60%;
  font-size: large;
  background-color: #6dd5d0;
}
.task_cat{
  width: 15%;
  margin-bottom: 1px;
  background-color: #6dd5d0;
  font-size: large;
}
.task_date{
  width: 25%;
  margin-bottom: 1px;
  background-color: #6dd5d0;
  font-size: large;
}
label{
  color: #262626;
  font-size: 16px;
  padding: 10px;
  width: 6%;
  margin-bottom: 1px;
  background-color: #1dd2af;
}

.priority_display{
  width: 10%;
  margin-bottom: 1px;
  background-color: #6dd5d0;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.app form button {
  border: none;
  color: white;
  background-color: #1dd2af;
  font-size: 25px;
  font-weight: 600;
  /* height: 42px; */
  width: 10%;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 1px;
}

.app form button:hover {
  background-color: #1a7e79;
}

/* .app ul {
  list-style: none;
  color: #DFD8CA;
  padding: unset;
  background-color: #6dd5d0;
  border-radius: 0 0 .5rem .5rem;
  font-family: "Rajdhani", sans-serif;
  display: flex;
  flex-direction: column;
} */

.table_header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #105652;
  border-bottom: 1px solid #105652;
  height: fit-content;
  color: #050300;
  font-size: 3em;
}

.app ul li input {
  margin: 10px 10px 10px 0;
  display: flex;
  
}

/* .app ul li {
  display: flex;
  
  padding: 10px;
  background-color: #6dd5d0;
  border-bottom: 1px solid #105652;
  height: fit-content;
  color: #DFD8CA;
  
} */

.check {
  /* width: 0.8em;
  height: 0.8em; */
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #DFD8CA;
  
}

.check:checked {
  background-color: #1dd2af;
}

.task {
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  height: fit-content;
  background: transparent;
  border: none;
  color: #fff;
}

.task:focus {
  outline: none;
}

.fa-trash {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  color: white;
  float: right;
  
}

.app ul li i {
  font-size: 20px;
  cursor: pointer;
  color: white;
  
}

.fa-trash:hover {
  color: rgb(185, 22, 70);
}

.completed {
  color: #DFD8CA;
  text-decoration: line-through;
}

.sub_task {
  float: inline-start;
  background-color: bisque;
}